@charset "utf-8";
/* CSS Document */
body {background-color: #006699; 
font-family: Arial;font-size: 16px;font-weight: bold;
text-decoration: none;
color: ##000000;background-position: center;margin: 24% auto 0% auto;
text-align:center;
vertical-align:middle;
overflow: hidden;}

header{color:#FFFAFA;font-family: Comic Sans MS;font-size: 18px}
